# Backend Requirements (v3 - cache bust)
fastapi<0.104.0
uvicorn[standard]
sqlmodel
python-multipart
jinja2
python-barcode
pillow
argon2-cffi
passlib
bcrypt
psycopg2-binary
itsdangerous
supabase

pandas
openpyxl
gspread
oauth2client
